* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --color-main: #FFF;
  --color-red: #e62e41;
  --color-black: #000;

}


body {
  font-family: Franklin, sans-serif;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}